.mano{
    cursor: pointer;
}
.par{
    font-size: 30px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    color: rgb(8, 8, 8);

}
.mil{
    font-size: 50px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(8, 8, 8);

}
/* .imgRecuadro{
    width:  40.35.%; 
    height: 52%;
    position: absolute;
    left:50% ;
    top: 20%;
    margin-left: 5%;
    animation: escalar 1.5s infinite alternate;
    
}
@keyframes escalar{
    to{
transform: scale(1);
    }
    from{
        transform: scale(1.05);
    }
}
.imgRecuadro img {
   margin: 0.5px;
   color: red;
} */
/* .contenedor-galeria{
position: absolute;
top: 20%;
left: 1%;
    display: flex;
    width: 50%;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1000px;
    
    
} */
div img {
    float: left;
    margin-left: 2%;
}

.galeria__img {
    width: 250px;
    height: 150px;
    margin-bottom: 10px;
    object-fit: cover;
     
    animation: escalar 1.5s infinite alternate;
    
}
@keyframes escalar{
    to{
transform: scale(1);
    }
    from{
        transform: scale(1.05);
    }
}

.galeria__img:hover {
    filter: brightness(100%);
}